body
{
 background-color:hsl(0, 0%, 2%);
 
  
 }

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

.login-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #61dafb;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: #333;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #21a1f1;
}

button {
  margin: 5px;
}

.instructions {
  border: 1px solid #ccc;
  padding: 20px;
  width: 50%;
  margin: 20px auto;
  text-align: left;
}

.instructions h1 {
  text-align: center;
}

.instructions ul {
  list-style-type: none;
  padding: 0;
}

.instructions li {
  margin: 10px 0;
}